.navbar{
    border-color: rgb(237, 237, 237);
    margin-bottom: 0px;
    padding-bottom: 16px;
    padding-top: 16px;
    position: sticky;
    align-self: baseline;
    padding-right: 24px;
    padding-left: 24px;
    background-color: rgba(255,255,255,1.00);
    z-index: 1;
    border-bottom-width: 1px;
}

.nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo{
    width: 152px;
}

.logo > img {
    width: 70%;
    margin-left: 50px;
    
}

.login{
    background-color: rgba(255,255,255,1.00);
    min-width: 100px;
    height: 48px;
    padding: 13px 16px;
    border: 1px solid rgba(227,227,227,1.00);
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}

.btns{
    display: flex;
}